.card {
  display: grid;
  grid-template-columns: 183px 1fr;

  height: 281px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

img.cardImg {
  width: 183px;
  height: 281px;
}

.cardInfo {
  position: relative;
  padding: 10px 20px 0 20px;
}

.cardTitle {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  width: 87%;
}

.cardDate {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #827e7e;
}

.cardTags {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cardText {
  font-size: 12px;
  margin: 0;
}

ul.cardRate {
  font-size: 15px;
  margin: 7px 0;
}

.voteRating {
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: 2px solid;
  border-radius: 50%;
  padding: 7px;
  grid-area: vote;
  margin: 12px 9px;
}

.red {
  border-color: #e90000;
}

.orange {
  border-color: #e97e00;
}

.yellow {
  border-color: #e9d100;
}
.green {
  border-color: #66e900;
}

@media (max-width: 940px) {
  .card {
    height: auto;
    display: block;
    overflow: unset;
    text-align: center;
    padding-top: 20px;
  }
  .cardTags {
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .card {
    height: auto;
    position: relative;
    display: block;
    text-align: left;
  }

  img.cardImg {
    width: 60px;
    position: absolute;
    height: auto;
    left: 10px;
  }

  .cardInfo {
    padding: 6px 10px 0 10px;
    margin-top: -18px;
  }

  .cardTitle {
    padding-left: 83px;
  }

  .cardDate {
    padding-left: 83px;
  }

  .cardTags {
    padding-left: 83px;
    margin-bottom: 15px;
    justify-content: start;
  }

  ul.cardRate {
    font-size: 15px;
    margin: 7px 0;

    display: flex;
    justify-content: end;
  }
}
