@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter', serif;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 20px 30px;
  box-sizing: border-box;
}

.spin-wrapper {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
}
